{
  "extends": ["taro/react", "prettier", "plugin:prettier/recommended"],
  "parser": "@typescript-eslint/parser",
  "rules": {
    "react/jsx-uses-react": "off",
    "react/react-in-jsx-scope": "off",
    "no-unused-vars": "off"
    // "jsx-quotes": 0
  },
  "prettier/prettier": [
    "error",
    {
      "endOfLine": "auto" //不让prettier检测文件每行结束的格式
    }
  ]
}
